includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- "~Method CashMachine\\\\Features\\\\Contexts\\\\CashMachineContext.* has parameter \\$arg1 with no typehint specified.~"
